node_modules
.vscode-test/

vsc-extension-quickstart.md
# .vscodeignore
jsconfig.json
package-lock.json
.eslintrc.json

.vscode/settings.json
methodParamRegEx.js
methodSplitTester.js

*.amp

*.txt

*.vsix
!beautyAmp-0.3.0.vsix