.vscode/**
.vscode-test/**
test/**
.gitignore
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json

images/beautyAmp.gif

*.amp

*.txt

*.vsix
.DS_Store
BugsToFix.md
TODO.md

# node_modules/**
out/